{{ define "main" }}
  <article>
    <h2>Main pages</h2>
    <ul>
      <li><a href="{{ .Site.BaseURL }}">Home page</a></li>
      <li><a href="{{ .Site.BaseURL }}about/">About me</a></li>
    </ul>
    <h2>Posts</h2>
    <ul>
    {{- range where .Site.Pages.ByPublishDate.Reverse ".Type" "posts" -}}
      {{- if (ne .Title "Posts") -}}
      <li><strong><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></strong> &bull; {{ .PublishDate.Format "January 2, 2006" }}</li>
      {{- end -}}
    {{- end -}}
    </ul>
  </article>
{{ end }}
